{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "jest": true
    },
    "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "plugins": [
      "react"
    ],
    "rules": {
      "arrow-parens": ["error", "as-needed"],
      "comma-dangle": ["error", "never"],
      "import/extensions": "off",
      "import/no-extraneous-dependencies": "off",
      "import/no-named-as-default": "off",
      "import/no-unresolved": "off",
      "import/prefer-default-export": "off",
      "indent": ["error", 4],
      "jsx-a11y/href-no-hash": "off",
      "jsx-a11y/label-has-for": "off",
      "jsx-a11y/label-has-associated-control": "off",
      "jsx-a11y/mouse-events-have-key-events": "off",
      "jsx-a11y/anchor-has-content": "error",
      "jsx-a11y/no-static-element-interactions": "off",
      "jsx-a11y/no-noninteractive-tabindex": "off",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "linebreak-style": "off",
      "max-len": ["error", { "code": 125, "ignoreComments": true, "ignoreTrailingComments": true, "ignoreUrls": true, "ignoreTemplateLiterals": true }],
      "no-alert": "error",
      "no-console": "error",
      "no-constant-condition": "error",
      "no-else-return": ["error", { "allowElseIf": true }],
      "no-func-assign": "off",
      "no-irregular-whitespace": "error",
      "no-loop-func": "off",
      "no-nested-ternary": "off",
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "no-param-reassign": ["error", { "props": false }],
      "no-shadow": ["error", { "hoist": "functions" }],
      "no-trailing-spaces": "error",
      "no-underscore-dangle": "off",
      "no-unused-expressions": ["error", { "allowShortCircuit": true }],
      "prefer-arrow-callback": "off",
      "prefer-destructuring": "off",
      "prefer-promise-reject-errors": "warn",
      "react/button-has-type": "off",
      "react/destructuring-assignment": ["off", "always"],
      "react/forbid-prop-types": "off",
      "react/jsx-indent": ["error", 4],
      "react/jsx-props-no-spreading": "off",
      "react/jsx-indent-props": ["error", 4],
      "react/jsx-no-bind": "error",
      "react/jsx-one-expression-per-line": "off",
      "react/no-array-index-key": "off",
      "react/no-danger": "error",
      "react/no-unused-prop-types": "off",
      "react/no-unused-state": "warn",
      "react/prefer-stateless-function": [ "error", { "ignorePureComponents": true }],
      "react/prop-types": "error",
      "react/react-in-jsx-scope": "off",
      "react/require-default-props": "off",
      "react/sort-comp": "error",
      "space-before-function-paren": "off",
      "global-require": "off",
      "no-template-curly-in-string": "error",
      "react/jsx-fragments": ["off", "syntax"],
      "object-curly-spacing": ["error", "always"],
      "semi": ["error", "always"],
      "no-unreachable": "error",
      "react/jsx-filename-extension": "off",
      "eol-last": "error",
      "no-multiple-empty-lines": "error",
      "react/static-property-placement": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "react/jsx-first-prop-new-line": "off",
      "object-property-newline": "off",
      "react/jsx-max-props-per-line": "off",
      "react/jsx-closing-bracket-location": "off",
      "object-curly-newline": "off"
    }
}