$white: #fff;
$concrete: #f3f3f3;
$sky-blue: #1a8dff;
$light-gray: #D6D3D6;
$light-blue: #3498db;
$gray: #808080;
$black: #000;
$red: #FF0000;
$blue: #0000FF;
$dark-gray: #5a5a5a;
$dark-red: #b20000;
$fade-border: #D3D3D3;